[Desktop Entry]
Name[af]=Kalender
Name[an]=Calandario
Name[ar]=التقويم
Name[be]=Каляндар
Name[be@latin]=Kalandar
Name[bg]=Календар
Name[bs]=Kalendar
Name[ca]=Calendari
Name[ca@valencia]=Calendari
Name[ckb]=ڕۆژژمێر
Name[cs]=Kalendář
Name[da]=Kalender
Name[de]=Kalender
Name[el]=Ημερολόγιο
Name[en_GB]=Calendar
Name[eo]=Kalendaro
Name[es]=Calendario
Name[et]=Kalender
Name[eu]=Egutegia
Name[fa]=تقویم
Name[fi]=Kalenteri
Name[fr]=Agenda
Name[fur]=Calendari
Name[fy]=Kalinder
Name[ga]=Féilire
Name[gd]=Am mìosachan
Name[gl]=Calendario
Name[he]=לוח שנה
Name[hi]=कैलेंडर
Name[hr]=Kalendar
Name[hu]=Naptár
Name[id]=Kalender
Name[is]=Dagatal
Name[it]=Calendario
Name[ja]=カレンダー
Name[ka]=კალენდარი
Name[kab]=Awitay
Name[kk]=Күнтізбе
Name[ko]=달력
Name[lt]=Kalendorius
Name[lv]=Kalendārs
Name[mjw]=Calendar
Name[ml]=കലണ്ടർ
Name[ms]=Kalendar
Name[my]=ပြက္ခဒိန်
Name[nb]=Kalender
Name[ne]=पात्रो
Name[nl]=Agenda
Name[oc]=Agenda
Name[pa]=ਕੈਲੰਡਰ
Name[pl]=Kalendarz
Name[pt]=Calendário
Name[pt_BR]=Calendário
Name[ro]=Calendar
Name[ru]=Календарь
Name[sk]=Kalendár
Name[sl]=Koledar
Name[sr]=Календар
Name[sr@latin]=Kalendar
Name[sv]=Kalender
Name[ta]=நாள்காட்டி
Name[tg]=Тақвим
Name[th]=ปฏิทิน
Name[tr]=Takvim
Name[uk]=Календар
Name[vi]=Lịch
Name[zh_CN]=日历
Name[zh_HK]=行事曆
Name[zh_TW]=行事曆
Name=Calendar
Comment[af]=Kry toegang tot en bestuur jou kalenders
Comment[ar]=انفذ إلى تقاويمك و أدرها
Comment[be]=Доступ і кіраванне календарамі
Comment[be@latin]=Dostup i kiravannie kalendarami
Comment[bg]=Достъп и управление на календари
Comment[ca]=Accedeix i gestiona els calendaris
Comment[ca@valencia]=Accedeix i gestiona els calendaris
Comment[ckb]=بچۆناوەو و ڕۆژژمێرەکەت ڕێکبخە
Comment[cs]=Zobrazte si a spravujte své kalendáře
Comment[da]=Tilgå og håndtér dine kalendere
Comment[de]=Auf Ihre Kalender zugreifen und verwalten
Comment[el]=Πρόσβαση και διαχείριση του ημερολογίου σας
Comment[en_GB]=Access and manage your calendars
Comment[eo]=Aliri kaj viajn kalendarojn
Comment[es]=Acceder y gestionar sus calendarios
Comment[et]=Isiklike kalendrite vaatamine ja haldamine
Comment[eu]=Atzitu eta kudeatu zure egutegiak
Comment[fa]=نمایش و مدیریت تقویم‌هایتان
Comment[fi]=Hallitse aikatauluasi kalenterin avulla
Comment[fr]=Ouvrir et gérer vos agendas
Comment[fur]=Jentre e ministre i tiei calendaris
Comment[fy]=Krij tagong ta en besjoch jo kalinders
Comment[gd]=Inntrig is stiùirich na mìosachain agad
Comment[gl]=Acceder e xestionar un calendario
Comment[he]=גישה וניהול לוחות שנה
Comment[hi]=अपने कैलेंडर तक पहुंचें और प्रबंधित करें
Comment[hr]=Pristupite i upravljajte svojim kalendarom
Comment[hu]=Naptárak elérése és kezelése
Comment[id]=Akses dan kelola kalender Anda
Comment[is]=Skoða og sýsla með dagatöl
Comment[it]=Accede e gestisce i propri calendari
Comment[ja]=カレンダーへのアクセスと管理
Comment[ka]=კალენდრების მართვა
Comment[kab]=Kcem, tesferkeḍ iwitayen-ik
Comment[kk]=Күнтізбелеріңізге қатынау және басқару
Comment[ko]=달력에 접근하고 관리합니다
Comment[lt]=Prieikite ir tvarkykite savo kalendorius
Comment[lv]=Piekļūstiet un pārvaldiet savus kalendārus
Comment[ml]=താങ്കളുടെ കലണ്ടറുകൾ കാണുകയും നിയന്ത്രിക്കുകയും ചെയ്യുക
Comment[ms]=Capai dan urus kalendar anda
Comment[my]=သင့်ပြက္ခဒိန်များကို ဝင်ရောက် စီမံပါ
Comment[nb]=Hold styr på livet ditt
Comment[ne]=पात्रो पहुच र ब्यवस्थापन गर्नुहोस
Comment[nl]=Beheer en gebruik uw agenda’s
Comment[oc]=Dobrir e gerir vòstres agendas
Comment[pa]=ਆਪਣੇ ਕੈਲੰਡਰਾਂ ਨੂੰ ਵਰਤੋਂ ਅਤੇ ਬੰਦੋਬਸਤ ਕਰੋ
Comment[pl]=Wyświetlanie i zarządzanie kalendarzem
Comment[pt]=Aceda e gira os seus calendários
Comment[pt_BR]=Acesse e gerencie seus calendários
Comment[ro]=Accesați și administrați calendarele
Comment[ru]=Доступ и управление календарями
Comment[sk]=Zobrazujte a spravujte svoje kalendáre
Comment[sl]=Upravljanje in urejanje koledarjev
Comment[sr]=Приступите и управљајте календаром
Comment[sr@latin]=Pristupite i upravljajte kalendarom
Comment[sv]=Kom åt och hantera dina kalendrar
Comment[th]=เข้าถึงและจัดการปฏิทินต่างๆ ของคุณ
Comment[tr]=Takvimlerinize erişin ve yönetin
Comment[uk]=Доступ та організування календарів
Comment[vi]=Truy cập và quản lý lịch của mình
Comment[zh_CN]=访问并管理日历
Comment[zh_TW]=存取及管理您的行事曆
Comment=Access and manage your calendars
Exec=gnome-calendar %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Calendar
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Office;Calendar;Core;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=kalender;geleentheid;aanmanings;
Keywords[an]=Calandario;Evento;Recordatorio;
Keywords[ar]=Calendar;Event;Reminder;تقويم;حدث;تذكير;
Keywords[be]=Calendar;Event;Reminder;Каляндар;Падзея;Напамін;
Keywords[be@latin]=Calendar;Event;Reminder;Kalandar;Padzieja;Napamin;
Keywords[bg]=calendar;event;reminder;календар;събития;напомняне;разписание;
Keywords[bs]=Kalendar;Događaj;Podsjetnik;
Keywords[ca]=Calendari;Cita;Recordatori;
Keywords[ca@valencia]=Calendari;Cita;Recordatori;
Keywords[ckb]=Calendar;Event;Reminder;
Keywords[cs]=kalendář;událost;upomínka;připomenutí;
Keywords[da]=Kalender;Begivenhed;Påmindelse;
Keywords[de]=Calendar;Event;Reminder;Kalender;Termin;Erinnerung;
Keywords[el]=Ημερολόγιο;Συμβάν;Υπενθύμιση;Calendar;Event;Reminder;
Keywords[en_GB]=Calendar;Event;Reminder;
Keywords[eo]=Kalendaro;Evento;Memorigilo;
Keywords[es]=Calendario;Evento;Recordatorio;
Keywords[et]=Calendar;Event;Reminder;Kalender;Sündmused;Meeldetuletused;Päevakava;
Keywords[eu]=Egutegia;Gertaera;Oroigarria;
Keywords[fa]=Calendar;Event;Reminder;تقویم;رویداد;یادآوری;
Keywords[fi]=Calendar;Event;Reminder;Kalenteri;Tapahtuma;Muistutus;
Keywords[fr]=Agenda;Évènement;Rappel;
Keywords[fur]=Calendari;Lunari;Event;Events;Promemorie;
Keywords[fy]=Kalinder;Evenemint;Oantinkens;
Keywords[gd]=Calendar;Event;Reminder;mìosachan;tachartas;cuimhneachan;
Keywords[gl]=Calendario;Evento;Recordatorio;
Keywords[he]=לוח שנה;יומן;אירוע;תזכיר;מזכיר;תזכורת;מזכר;
Keywords[hi]=कैलेंडर;कार्यक्रम;अनुस्मारक;
Keywords[hr]=Kalendar;Događaj;Podsjetnik;
Keywords[hu]=Naptár;Esemény;Emlékeztető;
Keywords[id]=Kalender;Acara;Pengingat;
Keywords[is]=dagatal;viðburður;atburður;áminning;
Keywords[it]=Calendario;Evento;Eventi;Promemoria;
Keywords[ja]=Calendar;Event;Reminder;カレンダー;イベント;リマインダー;
Keywords[ka]=Calendar;Event;Reminder;
Keywords[kab]=Awitay;Tadyant;Asmekti;
Keywords[kk]=Calendar;Event;Reminder;Күнтізбе;Оқиға;Естелік;
Keywords[ko]=Calendar;달력;캘린더;Event;행사;이벤트;Reminder;알림;
Keywords[lt]=Kalendorius;Įvykis;Priminimas;
Keywords[lv]=Kalendārs;Notikums;Atgādinājums;
Keywords[mjw]=Calendar;Event;Reminder;
Keywords[ml]=Calendar;Event;Reminder;
Keywords[ms]=Kalendar;Peristiwa;Pemberitahuan;
Keywords[my]=ပြက္ခဒိန်;အစီအစဉ်;သတိပေးချက်;
Keywords[nb]=Kalender;Hendelser;Påminnelser;Timeplan;Tidsskjema;Ukeplan;Aktiviteter;Planlegger;
Keywords[ne]=भित्तेपात्रो; नतिजा; स्मरणपत्र;
Keywords[nl]=Calendar;Agenda;Kalender;Event;Afspraak;Evenement;Gebeurtenis;Reminder;Herinnering;
Keywords[oc]=Agenda;Eveniment;Rapèl;
Keywords[pa]=ਕੈਲੰਡਰ;ਈਵੈਂਟ;ਰੀਮਾਈਡਰ;
Keywords[pl]=Kalendarz;Wydarzenie;Zdarzenie;Przypomnienie;Przypominanie;
Keywords[pt]=Calendário;Evento;Lembrete;
Keywords[pt_BR]=Calendário;Agenda;Evento;Lembrete;
Keywords[ro]=Calendar;Event;Reminder;Eveniment;Memento;
Keywords[ru]=Календарь;Событие;Напоминание;
Keywords[sk]=kalendár;udalosť;pripomienka;pripomenutie;
Keywords[sl]=koledar;dogodki;dogodek;opomnik;opomniki;datum;calendar;task;reminder;date;
Keywords[sr]=Calendar;Event;Reminder;Календар;Догађај;Подсетник;Kalendar;Događaj;Podsetnik;Dogadjaj;
Keywords[sr@latin]=Calendar;Event;Reminder;Kalendar;Događaj;Podsetnik;Kalendar;Događaj;Podsetnik;Dogadjaj;
Keywords[sv]=Kalender;Händelse;Påminnelse;
Keywords[tg]=Тақвим;Рӯйдод;Ёдрасон;
Keywords[th]=ปฏิทิน;งานกิจกรรม;ปลุกเตือน;
Keywords[tr]=Calendar;Event;Reminder;Takvim;Olay;Etkinlik;Anımsatıcı;Hatırlatıcı;
Keywords[uk]=Calendar;Event;Reminder;Календар;Подія;Нагадування;
Keywords[vi]=Calendar;Event;Reminder;Lịch;Lich;Sự kiện;Su kien;Nhắc;Nhac;
Keywords[zh_CN]=Calendar;Event;Reminder;日历;事件;提醒;
Keywords[zh_TW]=Calendar;Event;Reminder;行事曆;事件;事件;活動;提醒;日曆;
Keywords=Calendar;Event;Reminder;
MimeType=text/calendar;
DBusActivatable=true
